body {
	padding-top: 70px;
}

.navbar-inverse {
  background-color: #3E60AD;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #94A779;
}

.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #94A779;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

#username {
	color: white;
	padding-top:15px;
}

navbar a {
	color: white;
}