@(message: String)

@import helper._
@import bootstrap3._

@Main("Admin control panel") {
<div class="container">	
	<!-- Home Page panel -->
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color:#3E60AD; color: white">
			<h3 class="panel-title">Home Page</h3>
		</div>
		<div class="panel-body">
				
		</div>
	</div>
			
	<!-- Learn More panel -->
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color:#3E60AD; color: white">
			<h3 class="panel-title">Learn More Page</h3>
		</div>
		<div class="panel-body">	
			<div class="well">
				<h4 style="color:black">Rain Garden Resources</h4>
				<div class="row">
					@for(garden <- ResourceDB.getGardenList()) {
						@edit_resource(garden)
					}
				</div>
			</div>
					
			<div class="well">
				<h4 style="color:black">Rain Barrel Resources</h4>
				<div class="row">
					@for(barrel <- ResourceDB.getBarrelList()) {
						@edit_resource(barrel)
					}
				</div>
			</div>
					
			<div class="well">
				<h4 style="color:black">Permeable Paver Resources</h4>
				<div class="row">
					@for(paver <- ResourceDB.getPaverList()) {
						@edit_resource(paver)
					}
				</div>
			</div>	
		</div>
	</div>
	
				
</div>
}
