@(message: String)

@import helper._
@import bootstrap3._

@Main("Admin control panel") {
<div class="container">
	<!-- Home page Header & Footer -->
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color:#3E60AD;  color: white">
			<h3 class="panel-title">Home Page Header & Footer</h3>
		</div>
		<div class="panel-body">
			<div class="well">
				<div style="margin-left:20px; text-align:left"><a href="/adminpanel/editindexcontent"><button type="button"><h4>Edit</h4></button></a></div>

				<div class="press-banner" style="margin-top:-50px;!important; background-image: url(@routes.Application.retrieveHomeBannerImage())">
					
					<h1 class="text-center bigFont"><b>@HeaderFooterDB.getHeader(1)</b></br><p style="font-size:80%">@HeaderFooterDB.getSubHeader(1)</p></h1>
				</div>
				
			</div>
			
			<div class="well">
				
				<p style="text-align: center">@HeaderFooterDB.getFooter(1)</p>
				<p style="text-align: center">@HeaderFooterDB.getSubFooter(1)</p>
			</div>
		</div>
	</div>

	<!-- Home Page Content Blocks -->
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color:#3E60AD; color: white">
			<div class="row">
				<div class="col-md-6" style="text-align:left">
					<h3 class="panel-title">Home Page Content Blocks</h3>
				</div>
				<div class="col-md-6" style="text-align:right">
					<a href="#"><button type="button"><span class="glyphicon glyphicon-plus"></span> Add Content Block</button></a>
				</div>
			</div>
			
		</div>
		<div class="panel-body" id="content_blocks">
			@for(block <- IndexContentDB.getBlocks()) {
			<div class="well">
				<div class="row featurette">
	      	  		<div class="col-md-7">
	         			 <h2 class="featurette-heading m">@block.getTitle()</h2><br>
	         				 <p class="lead ">@block.getContent()</p>    
	         				 <p class="joinus text-center">
	         				 	@for( button <- block.getButton()) {
		          					@if(button.getNumber().equals(block.getSerial())){
		          			 			<a href="@button.getHref()"><button class="btn btn-info btn-large"><i class="icon-white icon-heart"></i>@button.getTitle()</button></a>	
		          					}
		          
		      					}
			  				</p>
	       			 </div>
	       		 	<div class="col-md-5">
	          			<img class="featurette-image img-responsive image-center"  alt="500x500" src="@routes.Assets.at("images/"+block.getPicUrl())"></img>
	          		</div>
	       		</div>
	       		<div style="text-align:left"><a href= "/adminpanel/editindexblock/@block.getSerial()"><button type="button"><h4>Edit</h4></button></a></div>
	       	</div>
      		}
      		<div style="text-align:right"><a href="#content_blocks"><h4>Back to top</h4></a></div>
		</div>
	</div>
			
	<!-- Learn More panel -->
	<div class="panel panel-default" id="resources">
		<div class="panel-heading" style="background-color:#3E60AD; color: white">
			<h3 class="panel-title">Learn More Resources</h3>
		</div>
		<div class="panel-body">	
			<div class="well">
				<div class="row">
					<div class="col-md-6" style="text-align:left">
						<h4 style="color:black">Rain Garden Resources</h4>
					</div>
					<div class="col-md-6" style="text-align:right">
						<a href="/adminpanel/newresource/garden"><button type="button"><span class="glyphicon glyphicon-plus"></span> Add Rain Garden Resource</button></a>
					</div>
				</div>
				<div class="row">
					@for(garden <- ResourceDB.getGardenList()) {
						@edit_resource(garden, "garden")
					}
				</div>
			</div>
					
			<div class="well">
				<div class="row">
					<div class="col-md-6" style="text-align:left">
						<h4 style="color:black">Rain Barrel Resources</h4>
					</div>
					<div class="col-md-6" style="text-align:right">
						<a href="/adminpanel/newresource/barrel"><button type="button"><span class="glyphicon glyphicon-plus"></span> Add Rain Barrel Resource</button></a>
					</div>
				</div>
				<div class="row">
					@for(barrel <- ResourceDB.getBarrelList()) {
						@edit_resource(barrel, "barrel")
					}
				</div>
			</div>
					
			<div class="well">
				<div class="row">
					<div class="col-md-6" style="text-align:left">
						<h4 style="color:black">Permeable Paver Resources</h4>
					</div>
					<div class="col-md-6" style="text-align:right">
						<a href="/adminpanel/newresource/paver"><button type="button"><span class="glyphicon glyphicon-plus"></span> Add Permeable Paver Resource</button></a>
					</div>
				</div>
				<div class="row">
					@for(paver <- ResourceDB.getPaverList()) {
						@edit_resource(paver, "paver")
					}
				</div>
			</div>
			<div style="text-align:right"><a href="#resources"><h4>Back to top</h4></a></div>	
		</div>
	</div>
	
				
</div>
}
