@(signupForm: Form[views.formdata.IndexContentFormData], user: UserInfo)

@import helper._
@import bootstrap3._

@Main("Admin control panel") {
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Admin control panel</h3>
				</div>
				<div class="panel-body" style="color: black;">
				
					@form(routes.Application.postIndexContentFormData(), 'class -> "form-horizontal") {
					 <div class="press-banner">
						     <h1 class="text-center bigFont"><b>@text(signupForm("header"), "Header:", "Header", "")</b></br>
						     <p">@text(signupForm("subheader"), "SubHeader:", "SubHeader", "")</p></h1>
					 </div>
						
					<footer>
							<p style="text-align: center">@text(signupForm("footer"), "Footer:", "footer", "")</p>
							<p style="text-align: center">@text(signupForm("subfooter"), "Subfooter:", "subfooter", "")</p>
			               
			    	</footer>
						
						
						
						
						


						<div class="form-group">
							<div class="text-center">
								<button type="submit" style="color:#FFF" class="btn btn-default pull-right">Submit Change</button>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
