@(editProfileForm: Form[views.formdata.EditProfileFormData])

@import helper._
@import bootstrap3._

@Main("Edit User Profile") {
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Edit User Profile</h3>
				</div>
				<div class="panel-body" style="color: black;">
					@form(routes.Application.postEditProfile(), 'class -> "form-horizontal") {
						@text(editProfileForm("firstName"), "First Name", "First Name", "")
						@text(editProfileForm("lastName"), "Last Name", "Last Name", "")
						@telephone(editProfileForm("telephone"), "Telephone", "Telephone (Optional)", "")
						<!--  email(editProfileForm("email"), "New Email", "New Email", "") -->
						@password(editProfileForm("new_password"), "New Password", "New Password", "")
						@password(editProfileForm("repeat_pw"), "Repeat Password", "Repeat Password", "")

						<div class="form-group">
							<div class="text-center" style="text-align:right">
								<button type="submit" class="btn btn-primary">Submit Change</button>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
