@(formData: Form[views.formdata.IndexContentFormData], url: String, isNew: Boolean)

@import helper._
@import bootstrap3._


@Main("Edit Index Content") {
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">

					<div  class="alert alert-info"><h2></>Header Section</h2><h4>(Edit > Submit Change)</h4></div>
					</div>
					<div style="height:20px"></div>
					@form(routes.Application.postEditIndexBlock(isNew), 'class -> "form-horizontal", 'enctype -> "multipart/form-data" ) {
            @hidden(formData("id"))
            @bootstrap3.text(formData("title"), "Title", "Title of the Content Block", "")
            @bootstrap3.textarea(formData("content"), "5", "Content", "Main Content of Content Block", "")
            @bootstrap3.text(formData("firstButtonText"), "Button 1 Text", "Text that is displayed on a button.", "")
            @bootstrap3.text(formData("firstButtonURL"), "Button 1 URL", "Destination URL for Button 1", "")
            @bootstrap3.text(formData("secondButtonText"), "Button 2 Text", "Text that is displayed on a button.", "")
            @bootstrap3.text(formData("secondButtonURL"), "Button 2 URL", "Destination URL for Button 1", "")            
            @upload(formData("uploadFile"), "Upload Picture", url, isNew, "")
					<div style="height:100px"><button type="submit" style="color:#000" class="btn btn-default pull-right">Submit Change</button></div>		
								
				  
					}
					
					
				</div>
				<div  class="text-center alert alert-info"><h4>Submit our change before you go back</h4></div>
				<div style="height:0px"><button href="@(routes.Application.adminPanel())" style="color:#000" class="btn btn-default pull-right">GO BACK TO Admin Control Panel</button>		
					</div>
						
				
				
			</div>
			
				
		</div>
		<div style="height:200px"></div>
	</div>
</div>
}
