@(indexContentFormData: Form[views.formdata.HeaderFooterFormData], user: UserInfo)

@import helper._
@import bootstrap3._

@Main("Admin control panel") {
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">

					<div  class="alert alert-info"><h2></>Header Section</h2><h4>(Edit > Submit Change)</h4></div>

					<div class="well">
						
					
						<div class="press-banner" style="margin-top:0px;!important; background-image: url(@routes.Application.retrieveHomeBannerImage())">
						
						
							<h1 class="text-center bigFont"><b>@HeaderFooterDB.getHeader(1)</b></br><p style="font-size:80%">@HeaderFooterDB.getSubHeader(1)</p></h1>
						</div>
					</div>
					<div style="height:20px"></div>
					@form(routes.Application.postIndexContentFormData(), 'class -> "form-horizontal", 'enctype -> "multipart/form-data" ){
						@bootstrap3.textarea(indexContentFormData("header"),"1", "Header:", "Header", "")
						@bootstrap3.textarea(indexContentFormData("subHeader"),"1", "SubHeader:", "SubHeader", "")
						@file(indexContentFormData("uploadFile"), "Upload Image:", "Upload a 700x260 pixel image or rectangle size image")
					<div style="height:100px"><button type="submit" style="color:#000" class="btn btn-default pull-right">Submit Change</button></div>		
								
				    <div  class="alert alert-info"><h2></>Footer Section</h2><h4>(Edit > Submit Change)</h4></div>
				    
				    <div class="well">
				
						<p style="text-align: center">@HeaderFooterDB.getFooter(1)</p>
						<p style="text-align: center">@HeaderFooterDB.getSubFooter(1)</p>
					</div>
						@bootstrap3.textarea(indexContentFormData("footer"),"5", "Footer:", "footer", "")
						@bootstrap3.textarea(indexContentFormData("subFooter"),"5", "Subfooter:", "subfooter", "")
					
					
					<button type="submit" style="margin-top:-10px; color:#000" class="btn btn-default pull-right">Submit Change</button>
					<div style="height:100px"></div>
					}
					
					
				</div>
				<div  class="text-center alert alert-info"><h4>Submit our change before you go back</h4></div>
				<div style="height:0px"><button href="@(routes.Application.adminPanel())" style="color:#000" class="btn btn-default pull-right">GO BACK TO Admin Control Panel</button>		
					</div>
						
				
				
			</div>
			
				
		</div>
		<div style="height:200px"></div>
	</div>
</div>
}
