@(isSuccess: Boolean)

@Main("Email Confirmation") {
@if(isSuccess == true){
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Email Confirmed</h2>
			</div>
			<div class="panel-body">
				<p>Your email has been confirmed. Enjoy the site!</p>
			</div>
		</div>
	</div>
} else {
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Email Not Confirmed</h2>
			</div>
			<div class="panel-body">
				<p>Invalid email and/or confirmation key. Please <a href="@routes.Application.emailConfirmSend()">click here</a> to re-send the confirmation email.</p>
			</div>
		</div>
	</div>

}
}