@(message: String)

@Main("Gallery") {
	<div class="container">
		<div class="well">
			<form class="form-horizontal" role="form">
				<div class="form-group" style="padding-top:20px">
					<label class="col-md-1" style="font-size:26px">View:</label>
					<div class="col-md-3">
						<label class="checkbox-inline" style="font-size:20px"><input type="checkbox">Rain Gardens</label>
					</div>
					<div class="col-md-3">
						<label class="checkbox-inline" style="font-size:20px"><input type="checkbox">Rain Barrels</label>
					</div>
					<div class="col-md-3">
						<label class="checkbox-inline" style="font-size:20px"><input type="checkbox">Permeable Pavers</label>
					</div>
					
					<div class="col-md-2">
						<button type="submit" style="font-size:20px">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div class="well">
			<!-- Gallery Content goes here; changes based on the checkboxes selected -->
		</div>
	</div>
}