@(blocks: List[IndexContent], header: String , subHeader: String, footer:String, subfooter:String, bannerImage:String)

@Main("Home") {


    <div class="press-banner" style="background-image: url(@routes.Assets.at("images/"+bannerImage.getBannerImage()))">
     <h1 class="text-center bigFont"><b>@header</b></br><p style="font-size:80%">@subHeader</p></h1>
    </div>

      <!-- START THE FEATURETTES -->
	<div class="container">

      @for(block <- blocks) {
	      <div class="row featurette ">
	        <div class="col-md-7 ">
	          <h2 class="featurette-heading m">@block.getTitle()</h2><br>
	          <p class="lead ">@block.getContent()</p>    
	
			  <p class="joinus text-center">
			
			  @for( button <- block.getButton()) {
		          @if(button.getNumber().equals(block.getSerial())){
		           <a href="@button.getHref()"><button class="btn btn-info btn-large"><i class="icon-white icon-heart"></i>@button.getTitle()</button></a>	
		          }
		          
		      }
			  </p>
	        </div>
	        <div class="col-md-5">
	          
	          <img class="featurette-image img-responsive image-center"  alt="500x500" src="@routes.Assets.at("images/"+block.getPicUrl())"></img>
	        </div>
	      </div>
	      
	      <hr class="featurette-divider">
      }
      
      
      
	</div>
	
	
	
	
	
	<footer>
				<p style="text-align: center">@footer</p>
				<p style="text-align: center">@subfooter</p>
               
    </footer>
	





}
