@(gardenList: List[Resource], barrelList: List[Resource], paverList: List[Resource])

@import helper._
@import bootstrap3._

@Main("Learn More") {
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Learn More</h1>
			</div>
			<div class="panel-body">
				<p style="color:black">Hui o Ko'olaupoko (HOK) is a 501(c)3 non-profit organization, established in 2007, to work with communities to imporove water quality
				through ecosystem restoration and non-point source (NPS) pollution reduction. HOK applies innovative strategies to restoration, monitoring, best management
				practices and education/outreach programs. HOK's mission is to "protect ocean health by restorting the aina: mauka to makai."</p>
				<p style="color:black">HOK is a leader in Storm Water Best Management Practices in Hawai'i. Please visit HOK's website to learn more about how you can reduce the impacts
				of storm water pollution and help protect our oceans! <a href="http://www.huihawaii.org">www.huihawaii.org</a></p>
				
				<div class="well" id="garden_resources">
					<h4 sytle="color:black">Rain Garden Resources</h4>
					<div class="row">
						@for(garden <- gardenList) {
							@resource(garden)
						}
					</div>
				</div>
				
				<div class="well" id="barrel_resources">
					<h4 sytle="color:black">Rain Barrel Resources</h4>					
					<div class="row">
						@for(barrel <- barrelList) {
							@resource(barrel)
						}
					</div>
				</div>
				
				<div class="well" id="paver_resources">
					<h4 sytle="color:black">Permeable Paver Resources</h4>					
					<div class="row">
						@for(paver <- paverList) {
							@resource(paver)
						}
					</div>
				</div>
				
			</div>
		</div>
	</div>

}