@(loginForm: Form[views.formdata.LoginFormData])

@import helper._

@Main("Login") {
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Please log in</h3>
					</div>
					<div class="panel-body" style="color: black;">
						@form(routes.Application.postLogin(), 'class -> "form-horizontal") {
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-9" style="padding-left: 25px;">
									<input type="email" class="form-control"
										name="@loginForm("email").name"
										id="@loginForm("email").id"
										value="@loginForm("email").value"
										placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-9" style="padding-left: 25px;">
									<input type="password" class="form-control"
										name="@loginForm("password").name"
										id="@loginForm("password").id"
										value="@loginForm("password").value"
										placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default">Login</button>
								</div>
							</div>
						}
					</div>
				</div>
				<a href="signup.html">Not A Member? Signup Now!</a>
			</div>
		</div>
	</div>
}