@(message: String, plantList: List[Plant])

@import helper._
@import bootstrap3._

@Main("Page1") {
   <div class="container">
    <table class="table table-borderd">
    <tr>
      <th>Plant Name</th>
      <th>Scientific Name</th>
      <th>Placement</th>
      <th>Growth</th>
      <th>Climate</th>
      </tr>
      @for(plant <- plantList) {
        <tr>
         <td>@plant.getName()</td>
         <td>@plant.getScientificName()</td>
         <td>@plant.getPlacement()</td>
         <td>@plant.getGrowth()</td>
         <td>@plant.getClimateType()</td>
        </tr>
      }
    </table>
   </div>
}
