@(message: String, userInfo: UserInfo)

@import helper._
@import bootstrap3._

@Main("Page1") {
   <div class="container">
    @for(comment <- userInfo.getGardenComments()) {
      <p>@comment.getComment()</p>
      <a href="@routes.Application.viewGarden(comment.getGarden().getID())">Link</a>
    }
    @for(comment <- userInfo.getBarrelComments()) {
      <p>@comment.getComment()</p>
      <a href="@routes.Application.viewBarrel(comment.getBarrel().getID())">Link</a>
    }
    @for(comment <- userInfo.getPaverComments()) {
      <p>@comment.getComment()</p>
      <a href="@routes.Application.viewPaver(comment.getPaver().getID())">Link</a>
    }    
   </div>
}
