@(pwForm: Form[views.formdata.PasswordRecoveryFormData])

@import helper._
@import bootstrap3._

@Main("Password Recovery") {
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Password Recovery</h3>
					</div>
					<div class="panel-body" style="color: black;">
						@form(routes.Application.postPasswordRecovery(), 'class -> "form-horizontal") {
							@email(pwForm("email"), "Email", "Email", "")
							
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default" onclick="return confirm('An email has been sent containing a new password.\nIf you do not recieve this email in a few minutes, please resubmit the form.');">Reset Password</button>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}