@(user: UserInfo)

@Main("Profile") {

 <div class="container" style="padding-top: 70px; color:black;">
    <div class="row">
    </div>
    <div class="panel panel-default">
      <div class="panel-heading top-header" style="background-color: #3E60AD; color: white;">
        <h1>
      
          <img src=""@routes.Assets.at("images/placeholder.gif")" width="64px" height="64px">@user.getFirstName() @user.getLastName()    
          
          <a href="edit-profile.html"><span class="glyphicon glyphicon-cog pull-right" style="top:0.25em;"></span></a>
        </h1>
      </div>
      <div class="panel-body">
        <div class="page-header">
          <h2>
            My Entries<span class="badge badge-default">0</span>
          </h2>
        </div>
        @for(raingarden <- user.getGardens()){
        <div class="row text-center">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="row">
                <div class="col-md-2">
                  <img src="../public/images/pp-main.jpg" width="100" height="100" class="profile-item">
                </div>
                <div class="col-md-10">
                  <a href="view-pavers.html"><h3>Rain Garden</h3></a>
                  <p>Data Added: @raingarden.getDateInstalled()</p>
                </div>
              </div>
			</div>
          </div>
		</div>
		}
		@for(barrel <- user.getBarrels()){
        <div class="row text-center">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="row">
                <div class="col-md-2">
                  <img src="../public/images/pp-main.jpg" width="100" height="100" class="profile-item">
                </div>
                <div class="col-md-10">
                  <a href="view-pavers.html"><h3>Rain Barrel</h3></a>
                  <p>Data Added: @barrel.getDateInstalled()</p>
                </div>
              </div>
			</div>
          </div>
		</div>
		}
		@for(paver <- user.getPavers()){
        <div class="row text-center">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="row">
                <div class="col-md-2">
                  <img src="../public/images/pp-main.jpg" width="100" height="100" class="profile-item">
                </div>
                <div class="col-md-10">
                  <a href="view-pavers.html"><h3>Permeable Paver</h3></a>
                  <p>Data Added: @paver.getDateInstalled()</p>
                </div>
              </div>
			</div>
          </div>
		</div>
		}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default"  style="height:126px;">
              <div class="col-md-12">
              <a href="/register">
              <h3>Add Entry <span class="glyphicon glyphicon-plus"></span></h3>
              </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


}
