@(user: UserInfo)

@Main("Profile") {

 <div class="container" style="padding-top: 20px; color:black;">

    <div class="row">
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color:#3E60AD; color: white;">
        <h1 class="text-center panel-title"> User Profile </h1>
        Name:  @user.getFirstName() @user.getLastName() 
        <br>Email:  @user.getEmail()
       
        
        
      </div>
      
      <div class="panel-body">
      <div class="row">
      	<div class="col-md-4">
	      	<div class="panel panel-default">
			     <div class="panel-heading " >
			        <h1 class="text-center panel-title">Rain Gardens</h1>
			     </div>
		         @for(raingarden <- user.getGardens()){
			        <div class=" text-center" style="padding-top: 20px">
			          <div class="col-md-12">
			            <div class="panel panel-default">
			              <div class="row">
			                <div class="col-md-5">
			                  <img src="@routes.Application.retrieveGardenImage(raingarden.getID())" onerror="this.src = '@routes.Assets.at("images/raingardenplaceholder.jpg")';" width="100" height="100" class="profile-item">
			                </div>
			                <div class="col-md-7">
			                  <h5><a href="@routes.Application.viewGarden(raingarden.getID())">Rain Garden</a></h5></a>
			                  <p>Data Added: @raingarden.getDateInstalled()</p>
			                </div>
			              </div>
						</div>
			          </div>
					</div>
				}
			
				@if(Secured.isLoggedIn(ctx())){
					@if(Secured.getUser(ctx()).equals(user.getEmail())){
					<div class="text-center">
			          <div class="col-md-12">
			            <div class="panel panel-default">
			            	<a href="/register/rain-garden">
		              			<h5>Add Entry <span class="glyphicon glyphicon-plus"></span></h5>  
		              		</a>  
						</div>
			          </div>
					</div>
					}
				}	
			</div>
			
		</div>
		<div class="col-md-4">	
	        <div class="panel panel-default">
			    <div class="panel-heading ">
			        <h1 class="text-center panel-title">Rain Barrels</h1>
			    </div>
		        @for(barrel <- user.getBarrels()){
		        <div class="text-center" style="padding-top: 20px">
		          <div class="col-md-12">
		            <div class="panel panel-default">
		              <div class="row">
		                <div class="col-md-5">
		                  <img src="@routes.Application.retrieveBarrelImage(barrel.getID())" onerror="this.src = '@routes.Assets.at("images/barrelplaceholder.jpg")';" width="100" height="100" class="profile-item">
		                </div>
		                <div class="col-md-7">
		                  <h5><a href="@routes.Application.viewBarrel(barrel.getID())">Rain Barrel</a></h5></a>
		                  <p>Data Added: @barrel.getDateInstalled()</p>
		                </div>
		              </div>
					</div>
		          </div>
				</div>
				}
				
				@if(Secured.isLoggedIn(ctx())){
					@if(Secured.getUser(ctx()).equals(user.getEmail())){
				
					<div class="text-center">
			          <div class="col-md-12">
			            <div class="panel panel-default">
			            	<a href="/register/rain-barrel">
		              			<h5>Add Entry <span class="glyphicon glyphicon-plus"></span></h5>  
		              		</a>  
						</div>
			          </div>
					</div>
						
					}
				}
				
				
			</div>
			
		</div>
		
		<div class="col-md-4">
	        <div class="panel panel-default">
			    <div class="panel-heading">
			        <h1 class="text-center panel-title">Pereable Pavers</h1>
			    </div>
	        	@for(paver <- user.getPavers()){
		        <div class="text-center" style="padding-top: 20px">
		          <div class="col-md-12">
		            <div class="panel panel-default">
		              <div class="row">
		                <div class="col-md-5">
		                  <img src="@routes.Application.retrievePaverImage(paver.getID())" onerror="this.src = '@routes.Assets.at("images/paverplaceholder.jpg")';" width="100" height="100" class="profile-item">
		                </div>
		                <div class="col-md-7">
		                  <h5><a href="@routes.Application.viewPaver(paver.getID())">Permeable Paver</a></h5></a>
		                  <p>Data Added: @paver.getDateInstalled()</p>
		                </div>
		              </div>
					</div>
		          </div>
				</div>
				}
				
				@if(Secured.isLoggedIn(ctx())){
					@if(Secured.getUser(ctx()).equals(user.getEmail())){
						<div class="text-center">
				          <div class="col-md-12">
				            <div class="panel panel-default">
				            	<a href="/register/permeable-pavers">
			              			<h5>Add Entry <span class="glyphicon glyphicon-plus"></span></h5>  
			              		</a>  
							</div>
				          </div>
						</div>
					}
				}
			 </div>
			
			
	      </div>
		
		
      	</div> 

       
		


      </div>
    </div>
  </div>


}
