@(barrelList: List[RainBarrel])

@import helper._
@import bootstrap3._

@Main("Rain Barrel Gallery") {
	<div class="container">
		<div class="well">
			@for(barrel <- barrelList) {
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="@routes.Assets.at("images/" + barrel.getPictureName())">
						<div class="caption">
							<h3>@barrel.getTitle()</h3>
							<ul>
								<li>Property Type: @barrel.getPropertyType()</li>
								<li>Date Installed: @barrel.getDateInstalled()</li>
								<li>Type: @barrel.getRainBarrelType()</li>
								<li>Capacity: @barrel.getCapacity()</li>
								<li>Material: @barrel.getMaterial()</li>
							</ul>
							<div style="text-align:right"><a href="/view/rain-barrel/@barrel.getID()">View Full Details >></a></div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}