@(formData: Form[views.formdata.RainGardenFormData], choiceList: List[String], propertyTypes: Map[String, Boolean]) 

@import helper._
@import bootstrap3._

@Main("Rain Garden Registry Form") {
  <div class="container">
    <div class="well col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
      @form(routes.Application.postRainGardenRegister(), 'class -> "form-horizontal", 'id -> "register"){

         @text(formData("firstName"), "First Name", "First Name", "")
         @text(formData("lastName"), "Last Name", "Last Name", "")
         @text(formData("email"), "Email", "Email", "")
         @text(formData("telephone"), "Phone Number", "Phone Number", "")
         @text(formData("address"), "Address", "Address", "")
         @text(formData("city"), "City", "City", "")
         @text(formData("state"), "State", "State", "")         
         @text(formData("zipCode"), "Zip Code", "Zip Code", "")
         @text(formData("country"), "Country", "Country", "")
         @bootstrap3.select(formData("propertyType"), "Property Type", propertyTypes, false, "")   
         @bootstrap3.textarea(formData("description"), "5", "Description", "Rain Garden Description", "")
         @text(formData("imperviousSurfaceSize"), "Surface Area of Impervious Material", 
                        "Surface Area of Impervious Material", "")    
         @text(formData("rainGardenSize"), "Surface Area of Rain Garden", 
                        "Surface Area of Rain Garden", "")    
         @radiobuttons(formData("downspoutsDisconnected"), "Downspouts Disconnected", choiceList, 
                       "")   
         @radiobuttons(formData("soilAmended"), "Soil Amended", choiceList, 
                       "")  
         @text(formData("soilAmendedType"), "Material Used for Soil Amendment", 
                        "Material Used for Soil Amendment", "")   
         @radiobuttons(formData("allowInformationPusblishing"), "Allow Public Publishing of Information", choiceList, 
                       "")   
                                                                      
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
              <button id="submit" type="submit" class="btn btn default">Register</button>
            </div>
         </div>
      </div>
     </div>
     </div>
  }
  </div>
}
