@(formData: Form[views.formdata.RainGardenFormData], choiceList: List[String], propertyTypes: Map[String, Boolean], 
  monthTypes: Map[String, Boolean], dayTypes: Map[String, Boolean], yearTypes: Map[String, Boolean], 
  plantMap: Map[String, Boolean], gardenSizeTypes: Map[String, Boolean], sourceSizeTypes: Map[String, Boolean],
  infiltrationRateTypes: Map[String, Boolean], userInfo: UserInfo)

@import helper._ 
@import bootstrap3._ 

@Main("Register: Rain Garden") {
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div class="panel-title"><h1>@if((formData.get().id == 0)) {Register} else {Edit} Rain Garden</h1></div>           
          </div>
          <div class="panel-body">
          <div class="alert alert-info">Fields marked with * are required.</div>
    @form(action = routes.Application.postRainGardenRegister(), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
              @hidden(formData("id"))
              @text(formData("title"), "Title", "Title of Rain Garden", "") 
              @bootstrap3.select(formData("propertyType"), "Property Type *", "Please Select a Property Type", propertyTypes, false, "") 
              @textwithstyle(formData("address"), "Rain Garden Address *", "Address of Rain Garden", "", "top:0.8em;") 
              @hideaddress(formData("hideAddress"), "Hide Address", choiceList, "")
              @bootstrap3.textarea(formData("description"), "5", "Description", "Rain Garden Description", "")
              @bootstrap3.dateadded(formData("month"), formData("day"),  formData("year"), 
                                    "Date Installed", monthTypes, dayTypes, yearTypes, false, "")
              @file(formData("uploadFile"), "Upload File", "It is recommended that you upload a square image (i.e. height and width of image are equal).")
              <div class="page-header"><h3>Additional Information</h3></div>
              @bootstrap3.plants(formData("plants"), "Plants", plantMap, "")
              @bootstrap3.select(formData("rainGardenSize"), "Rain Garden Size", "Please Select the Size of the Rain Garden", gardenSizeTypes, false, "")
              @bootstrap3.select(formData("waterFlowSourceSize"), "Size of Waterflow Source for Rain Garden", "Please Select Size of Roof/Impervious Pavement that feeds Rain Garden", sourceSizeTypes, false, "")
              @bootstrap3.textarea(formData("waterFlowDescription"), "3", "Waterflow Description", "Waterflow Description. Example: Water flows from my room to the rain garden.", "")
              @bootstrap3.select(formData("infiltrationRate"), "Infiltration Rate", "Infiltration Rate of Rain Garden's Soil", infiltrationRateTypes, false, "")
              <hr/>
              <button id="submit" type="submit" class="btn btn default pull-right" style="color:white;">@if((formData.get().id == 0)) {Register} else {Edit}</button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
}
