@(formData: Form[views.formdata.RainGardenFormData], choiceList: List[String], propertyTypes: Map[String, Boolean]) 

@import helper._
@import bootstrap3._

@Main("Rain Garden Registry Form") {
  <div class="container">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-heading">
      <h1>Register Rain Garden</h1>
      </div>
      <div class="col-md-12">
      @form(routes.Application.postRainGardenRegister(), 'class -> "form-horizontal", 'id -> "register"){
         @text(formData("title"), "Title", "Title of Rain Garden", "")
         @bootstrap3.select(formData("propertyType"), "Property Type", propertyTypes, false, "") 
         @text(formData("address"), "Rain Garden Address", "Address of Rain Garden", "")         
         @radiobuttons(formData("hideAddress"), "Hide Address", choiceList, "")   
         @bootstrap3.textarea(formData("description"), "5", "Description", "Rain Garden Description", "")
         @bootstrap3.select(formData("month"), "Property Type", propertyTypes, false, "") 
         @bootstrap3.select(formData("day"), "Property Type", propertyTypes, false, "") 
         @bootstrap3.select(formData("Year"), "Property Type", propertyTypes, false, "") 

                                                                      
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
              <button id="submit" type="submit" class="btn btn default">Register</button>
            </div>
         </div>
      </div>
     </div>
  }
  </div>
}
