@(formData: Form[views.formdata.PlantFormData], isNew: Boolean, placementTypes: Map[String, Boolean],
  growthTypes: Map[String, Boolean], climateTypes: Map[String, Boolean], url: String)

@import helper._ 
@import bootstrap3._
@registrationType() = @{
  if (isNew) "Register" else "Edit"
}
 
@Main(registrationType() + ": Plant") {
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div class="panel-title"><h1>@registrationType() Plant</h1></div>           
          </div>
          <div class="panel-body">          
          <div class="alert alert-info">Fields marked with * are required.</div>
              @form(action = routes.Application.postPlantRegistration(isNew), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
                  @hidden(formData("id"))
                  @text(formData("name"), "Name *", "Name of Plant", "")
                  @text(formData("scientificName"), "Scientific Name *", "Scientific Name of Plant", "")
                  @bootstrap3.select(formData("placement"), "Placement *", "Select the Plant's Placement in a Rain Garden", placementTypes, false, "")
                  @bootstrap3.select(formData("growth"), "Growth *", "Please Select Growth Type of the Plant", growthTypes, false, "")
                  @bootstrap3.select(formData("climateType"), "Climate *", "Please Select the Climate Type of the Plant", climateTypes, false, "")
                @if(isNew) {
                  @upload(formData("uploadFile"), "Upload Picture", "")
                } else {
                  @uploadExists(formData("uploadFile"), "Change Picture", url, "")                
                }                                                                  
              <hr/>
              <button id="submit" type="submit" class="btn btn-info pull-right">@registrationType()</button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
}
