@(formData: Form[views.formdata.RainBarrelFormData], choiceList: List[String], propertyTypes: Map[String, Boolean], 
  monthTypes: Map[String, Boolean], dayTypes: Map[String, Boolean], yearTypes: Map[String, Boolean], 
  barrelTypes: Map[String, Boolean], materialTypes: Map[String, Boolean], usageTypes: Map[String, Boolean],
  coverTypes: Map[String, Boolean], installationTypes: Map[String, Boolean], amountTypes: Map[String, Boolean])

@import helper._ 
@import bootstrap3._ 

@Main("Register: Rain Barrel") {
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div class="panel-title"><h1>Register Rain Barrel</h1></div>           
          </div>
          <div class="panel-body">
    @form(action = routes.Application.postRainBarrelRegister(), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
              @hidden(formData("id"))
              @text(formData("title"), "Title", "Title of Rain Barrel", "") 
              @bootstrap3.select(formData("propertyType"), "Property Type", "Please Select a Property Type", propertyTypes, false, "") 
              @textwithstyle(formData("address"), "Rain Barrel Address", "Address of Rain Barrel", "", "top:0.8em;") 
              @hideaddress(formData("hideAddress"), "Hide Address", choiceList, "")
              @bootstrap3.textarea(formData("description"), "5", "Description", "Rain Barrel Description", "")
              @bootstrap3.dateadded(formData("month"), formData("day"),  formData("year"), 
                                    "Date Installed", monthTypes, dayTypes, yearTypes, false, "")
              @file(formData("uploadFile"), "Upload File")
              <div class="page-header"><h3>Additional Information</h3></div> 
              @bootstrap3.select(formData("rainBarrelType"), "Rain Barrel Type", "Please Select a Rain Barrel Type", barrelTypes, false, "")
              @text(formData("capacity"), "Capacity", "Capacity of Rain Barrel", "")
              @text(formData("color"), "Color", "Color of Rain Barrel", "")  
              @bootstrap3.select(formData("material"), "Material Type", "Please Select Material of Rain Barrel", materialTypes, false, "")
              @text(formData("estimatedCost"), "Estimated Cost", "Estimated Cost of Rain Barrel", "")  
              @bootstrap3.select(formData("waterUse"), "Water Usage", "Please Select Use of Water from Rain Barrel", usageTypes, false, "")
              @textwithstyle(formData("overflowFrequency"), "Overflow Frequency", "Frequency of Rain Barrel Overflow", "", "top:0.8em;")                
              @bootstrap3.select(formData("cover"), "Cover", "Please Select Cover for Rain Barrel", usageTypes, false, "")
              @text(formData("obtainedFrom"), "Place of Acquisition", "Place Where Rain Barrel was Acquired","")                
              @bootstrap3.selectwithstyle(formData("installationType"), "Installation Method", "Please Select Method of Installation", installationTypes, false, "", "top:0.8em;")                
              @bootstrap3.selectwithstyle(formData("numberOfRainBarrels"), "Number of Rain Barrel(s)", "Please Select Number of Rain Barrel(s)", amountTypes, false, "",  "top:0.8em;")   
                                            
              <hr/>
              <button id="submit" type="submit" class="btn btn default pull-right">Register</button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
}
