@(formData: Form[views.formdata.PermeablePaversFormData], isNew: Boolean, choiceList: List[String], propertyTypes: Map[String, Boolean], 
  monthTypes: Map[String, Boolean], dayTypes: Map[String, Boolean], yearTypes: Map[String, Boolean], 
  materialType: Map[String, Boolean], previousMaterialTypes: Map[String, Boolean], sizeTypes: Map[String, Boolean], 
  url: String, userInfo: UserInfo)

@import helper._ 
@import bootstrap3._
@registrationType() = @{
    if (isNew) "Register" else "Edit"
}
 
@Main(registrationType() + ": Permeable Pavers") {
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div class="panel-title"><h1>@registrationType() Permeable Pavers</h1></div>           
          </div>
          <div class="panel-body">          
          <div class="alert alert-info">Fields marked with * are required.</div>
    @form(action = routes.Application.postPermeablePaversRegister(isNew), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
              @hidden(formData("id"))
              @text(formData("title"), "Title", "Title of Permeable Paver", "") 
              @bootstrap3.select(formData("propertyType"), "Property Type *", "Please Select a Property Type", propertyTypes, false, "") 
              @textwithstyle(formData("address"), "Permeable Paver Address *", "Address of Permeable Paver", "", "top:0.8em;") 
              @hideaddress(formData("hideAddress"), "Hide Address", choiceList, "")
              @bootstrap3.textarea(formData("description"), "5", "Description", "Permeable Paver Description", "")
              @bootstrap3.dateadded(formData("month"), formData("day"),  formData("year"), 
                                    "Date Installed", monthTypes, dayTypes, yearTypes, false, "")
              @upload(formData("uploadFile"), "Upload Picture", url, isNew, "")
              <div class="page-header"><h3>Additional Information</h3></div> 
              @bootstrap3.select(formData("material"), "Material", "Please Select the Paver Material Type", materialType, false, "")
              @bootstrap3.select(formData("previousMaterial"), "Previous Material", "Please Select Previous Material of Previous Pavement",  previousMaterialTypes, false, "")
              @bootstrap3.select(formData("size"), "Size", "Please Select the Size of the Permeable Paver", sizeTypes, false, "")
              @text(formData("installer"), "Pavement Installer", "Person/Company that Installed Pavement", "")                                                        
              <hr/>
              <button id="submit" type="submit" class="btn btn-info pull-right">@registrationType()</button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
}
