@(title: String)

@import helper._ 
@import bootstrap3._ 

@Main("Rain Garden Photo Upload") {
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div class="panel-title"><h1>Upload Rain Garden Photo</h1></div>           
          </div>
          <div class="panel-body">
            @form(routes.Application.uploadAction(), 'enctype -> "multipart/form-data") {
              <input type="file" name="picture">
              <p><input type="submit"></p>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
}
