@(message: String, userInfo: UserInfo)

@import helper._
@import bootstrap3._

@Main("View Plants") {
  <div class="container">
    <div class="row">
      <a href="@routes.Application.newPlant()"><button class="btn btn-info">New Plant</button></a>
      <table class="table table-bordered table-condensed table-hover table-responsive">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Scientific Name</th>
            <th>Placement</th>
            <th>Growth</th>
            <th>Climate Type</th>
          @if(userInfo != null && (userInfo.isAdmin())) {
            <th></th>
          }
        </tr>
        @for(plant <- PlantDB.getPlants()) {
          <tr>
              <td><img src="@routes.Application.retrievePlantImage(plant.getName())" class="img-responsive center-block" width="50px" height="50px"/></td>
              <td>@plant.getName()</td>
              <td>@plant.getScientificName()</td>
              <td>@plant.getPlacement()</td>
              <td>@plant.getGrowth()</td>
              <td>@plant.getClimateType()</td>            
              @if(userInfo != null && (userInfo.isAdmin())) {
              <td><a href="/edit/plant/@plant.getName()"><button class="btn btn-sm btn-info">Edit</button></a> <a href="#"><button class="btn btn-sm btn-danger" style="background-color:red;">Delete</button></a></td>
              }
          </tr>
        }
      </table>
    </div>
  </div>
}
