@()

@import helper._
@import bootstrap3._

@Main("Manage Solutions") {
   <div class="container">
   <table class="table table-bordered table-hover">
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Property Type</th>
      <th>Address</th>
      <th>Hide Address</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    @for(garden <- RainGardenDB.getRainGardens()) {
      <tr>
        <td>Rain Garden</td>
        <td>@garden.getTitle()</td>
        <td>@garden.getPropertyType()</td>
        <td>@garden.getAddress()</td>
        <td>@garden.getHideAddress()</td>
        <td>@garden.getDescription()</td>
        <td>@if(!garden.isApproved()) {        
        <span class="label label-warning">Awaiting Approval</span>       
        } else {<span class="label label-primary">Approved</span>}</td>
        <td>@if(!garden.isApproved()) {
          <a href="#"><button class="btn btn-success">Approve</button></a>
        } else {<a href="#"><button class="btn btn-danger">Disapprove</button></a>}</td>
      </tr>
    }
    @for(barrel <- RainBarrelDB.getRainBarrels()) {
      <tr>
        <td>Rain Barrel</td>
        <td>@barrel.getTitle()</td>
        <td>@barrel.getPropertyType()</td>
        <td>@barrel.getAddress()</td>
        <td>@barrel.getHideAddress()</td>
        <td>@barrel.getDescription()</td>
        <td>@if(!barrel.isApproved()) {        
        <span class="label label-warning">Awaiting Approval</span>       
        } else {<span class="label label-primary">Approved</span>}</td>
        <td>@if(!barrel.isApproved()) {
          <a href="#"><button class="btn btn-success">Approve</button></a>
        } else {<a href="#"><button class="btn btn-danger">Disapprove</button></a>}</td>
    </tr>
    }  
    @for(garden <- PermeablePaversDB.getPermeablePavers()) {
      <tr>
        <td>Permeable Pavers</td>
        <td>@garden.getTitle()</td>
        <td>@garden.getPropertyType()</td>
        <td>@garden.getAddress()</td>
        <td>@garden.getHideAddress()</td>
        <td>@garden.getDescription()</td>
        <td>@if(!garden.isApproved()) {        
        <span class="label label-warning">Awaiting Approval</span>       
        } else {<span class="label label-primary">Approved</span>}</td>
        <td>@if(!garden.isApproved()) {
          <a href="#"><button class="btn btn-success">Approve</button></a>
        } else {<a href="#"><button class="btn btn-danger">Disapprove</button></a>}</td>
      </tr>
    }
   </table>   
   </div>
}
