@(permeablePaver: PermeablePavers, commentFormData: Form[views.formdata.CommentFormData])
  
@import helper._ 
@import bootstrap3._
@checkInput(input: String) = @{
  if (input == null || input.isEmpty()) "N/A" else input
}

@Main("View Permeable Pavers") {
   <div class="container">
    @if(!(permeablePaver.isApproved())) {
      <div class="alert alert-info"><p><strong>This page is awaiting approval.</strong></p>
        <p>Thank you for registering your permeable paver. This page is currently awaiting approval from a site administrator and will not be visible to the public. During this time, feel free to edit your permeable paver's information.</p>
        @if(Secured.isLoggedIn(ctx()) && Secured.getUserInfo(ctx()).isAdmin()) {<br/><a href="@routes.Application.switchPaverStatus(permeablePaver.getID(), request().uri())"><button class="btn btn-success">Approve Permeable Paver</button></a>}
     
      </div>
    }
       <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
         <ul class="nav nav-tabs">
          <li class="active"><a href="/view/rain-garden/@permeablePaver.getID()">View</a></li>
          @if(Secured.isLoggedIn(ctx()) && (Secured.getUserInfo(ctx()).getEmail().equals(permeablePaver.getOwner().getEmail()))) {
            <li><a href="@routes.Application.managePermeablePavers(permeablePaver.getID())">Edit Information</a></li>
            <li><a href="#" onclick="javascript:OpenModal()">Delete Page</a></li>
          }
        </ul>
        <div class="panel panel-default">
          <div class="row">
            <div class="col-md-12">
              <img src="@if(permeablePaver.hasPicture()) {@routes.Application.retrievePaverImage(permeablePaver.getID())} else {@routes.Assets.at("images/placeholder.gif")}" class="img-responsive center-block view-header"/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3
                style="position: relative; bottom: 1.9em; background-color: rgba(0, 0, 0, 0.5); width: 100%; color: white;">
                @if(!(permeablePaver.getTitle().equals(""))) {@permeablePaver.getTitle()} else {Rain Garden}</h3>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: relative; color:black; bottom: 1.9em;">
            <p><b>Owner:</b> <a href="@routes.Application.profile(permeablePaver.getOwner().getId())">@permeablePaver.getOwner().getName()</a></p>
            <p><b>Property Type:</b> @permeablePaver.getPropertyType()</p>
            <p><b>Address:</b> @if(permeablePaver.getHideAddress().equals("Yes")) {Hidden} else {@permeablePaver.getAddress()}</p>
            <p><b>Date Installed:</b> @permeablePaver.getDateInstalled()</p>
          </div>
          <div class="row" style="color: black; padding-left: 1em; padding-right: 1em;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: relative; bottom: 1.9em;">
                        <div class="page-header"><h4>Description</h4></div>
              <p>@if(permeablePaver.getDescription().equals("")) {No Description} else {@permeablePaver.getDescription()}</p>
            </div>
          </div>
          <div class="row" style="color: black; padding-left: 1em; padding-right: 1em;">         
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: relative; bottom: 1.9em;">
              <div class="page-header"><h4>Additional Information</h4></div>
                  <p><b>Material:</b> @checkInput(permeablePaver.getMaterial())</p>
                  <p><b>Previous Material:</b> @checkInput(permeablePaver.getPreviousMaterial())</p>
                  <p><b>Size:</b> @checkInput(permeablePaver.getSize())</p>
                  <p><b>Installer:</b> @checkInput(permeablePaver.getInstaller())</p>               
              </div>
              </div>              
        <div class="row" style="color: black; font-size: 14px; padding: 0 2em 0 2em;">
          <div class="page-header">
            <h4>Comments (@permeablePaver.getComments().size)</h4>          
          </div>
              <div class="well" style="background-color:white;">
           @if(permeablePaver.getComments().isEmpty()) { 
              <div class="alert alert-info">This permeable paver has no comments.</div>           
            } else { 
              @for(comment <- permeablePaver.getComments()) {
               <div class="media">
                  <div class="media-body">
                     <h4 class="media-heading @if(comment.isActive) {comment-heading} else {inactive-comment}" id="@comment.getId()">
                      <a href="@routes.Application.profile(comment.getPoster().getId())" style="color:white">@comment.getPoster().getName()</a> 
                      <small class="commentDate">(@comment.getDatePosted())</small>
                      @if(Secured.isLoggedIn(ctx()) && ((comment.getPoster().getId() == Secured.getUserInfo(ctx()).getId) || (Secured.getUserInfo(ctx()).isAdmin()))) {
                      <span class="pull-right">
                        @if(comment.isActive()) {<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#comment-@comment.getId()">Delete</button>}
                      </span>
                      } 
                     </h4>                     
                     @if(comment.isActive) {@comment.getComment()} else {<span class="label label-danger">This message has been deleted.</span>}
                  </div>
               </div>
              }
            }
            @if(Secured.isLoggedIn(ctx()) && permeablePaver.isApproved()) {
            <br/>
              <!-- Comment Form -->
              @form(routes.Application.postPaverComment(permeablePaver.getID(), ctx().request().uri()), 'class -> "form-horizontal") {            
                @comment(commentFormData("comment"), "Post A Comment")
              }
            }
            </div>       
        </div>
      </div>
      </div>
   </div>
   </div>
   <div class=" modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete This Page?</h4>
      </div>
      <div class="modal-body">This action cannot be undone. Are you sure?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="@routes.Application.deletePaver(permeablePaver.getID())"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </div>
</div>
<!-- Comment Delete Dialog -->
@for(comment <- permeablePaver.getComments()) {
  @deleteComment(comment)
}
}
