@(rainBarrel: RainBarrel)

@Main("View Rain Barrel") {
   <div class="container">
       <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="row">
            <div class="col-md-12">
              <img src="@routes.Assets.at("images/upload/" + rainBarrel.getPictureName())" class="img-responsive center-block"
                style="width: 100%; height: 400px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3
                style="position: relative; bottom: 1.9em; background-color: rgba(0, 0, 0, 0.5); width: 100%; color: white;">
                @if(!(rainBarrel.getTitle().equals(""))) {@rainBarrel.getTitle()} else {Rain Barrel}</h3>
            </div>
          </div>
          <div class="hidden-lg hidden-md col-sm-12 col-xs-12" style="position: relative; bottom: 1.9em;">
            <ul class="list-group" style="text-align: center;">
              <li class="list-group-item">Owner: @rainBarrel.getOwner().getName()</li>
              <li class="list-group-item">Type: Rain Barrel</li>
              <li class="list-group-item">Property Type: @rainBarrel.getPropertyType()</li>
              <li class="list-group-item">Address: @if(rainBarrel.getHideAddress().equals("Yes")) {Hidden} else {@rainBarrel.getAddress()}</li>
              <li class="list-group-item">Date Added: @rainBarrel.getDateInstalled()</li>
              <li class="list-group-item">Number of Barrel(s): @rainBarrel.getNumberOfRainBarrels()</li>
            </ul>
          </div>
          <div class="row" style="color: black; font-size: 14px; padding-left: 1em; padding-right: 1em;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="position: relative; bottom: 1.9em;">
              <p>@if(rainBarrel.getDescription().equals("")) {No Description} else {@rainBarrel.getDescription()}</p>
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm hidden-xs" style="position: relative; bottom: 1.9em;">
              <ul class="list-group" style="text-align: center;">
              <li class="list-group-item">Owner: @rainBarrel.getOwner().getName()</li>
              <li class="list-group-item">Type: Rain Barrel</li>
              <li class="list-group-item">Property Type: @rainBarrel.getPropertyType()</li>
              <li class="list-group-item">Address: @if(rainBarrel.getHideAddress().equals("Yes")) {Hidden} else {@rainBarrel.getAddress()}</li>
              <li class="list-group-item">Date Added: @rainBarrel.getDateInstalled()</li>
              <li class="list-group-item">Number of Barrel(s): @rainBarrel.getNumberOfRainBarrels()</li>
              </ul>
            </div>
          </div>
          <div class="row" style="color: black; font-size: 14px;  padding: 0 2em 0 2em;">
              <div class="page-header">
              <h4>Additional Information</h4>
            </div>
          </div>
        </div>
      </div>
   </div>
}
