@(rainGarden: RainGarden, plantList: List[Plant], comments: List[Comment])

@Main("View Rain Garden") {
   <div class="container">
       <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
         <ul class="nav nav-tabs">
          <li class="active"><a href="/view/rain-garden/@rainGarden.getID()">View</a></li>
          @if(rainGarden.getOwner() == Secured.getUserInfo(ctx())) {
            <li><a href="@routes.Application.registerRainGarden(rainGarden.getID())">Edit Information</a></li>
            <li><a href="#" onclick="javascript:OpenModal()">Delete Page</a></li>
          }
        </ul>
        <div class="panel panel-default">
          <div class="row">
            <div class="col-md-12">
              <img src="@routes.Assets.at("images/" + rainGarden.getPictureName())" class="img-responsive center-block"
                style="width: 100%; height: 400px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3
                style="position: relative; bottom: 1.9em; background-color: rgba(0, 0, 0, 0.5); width: 100%; color: white;">
                @if(!(rainGarden.getTitle().equals(""))) {@rainGarden.getTitle()} else {Rain Garden}</h3>
            </div>
          </div>
          <div class="hidden-lg hidden-md col-sm-12 col-xs-12" style="position: relative; bottom: 1.9em;">
            <ul class="list-group" style="text-align: center;">
              <li class="list-group-item">Owner: @rainGarden.getOwner().getName()</li>
              <li class="list-group-item">Type: Rain Garden</li>
              <li class="list-group-item">Property Type: @rainGarden.getPropertyType()</li>
              <li class="list-group-item">Address: @if(rainGarden.getHideAddress().equals("Yes")) {Hidden} else {@rainGarden.getAddress()}</li>
              <li class="list-group-item">Date Added: @rainGarden.getDateInstalled()</li>
              <li class="list-group-item">Number of Garden(s): @rainGarden.getNumberOfRainGardens()</li>
            </ul>
          </div>
          <div class="row" style="color: black; font-size: 14px; padding-left: 1em; padding-right: 1em;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="position: relative; bottom: 1.9em;">
              <p>@if(rainGarden.getDescription().equals("")) {No Description} else {@rainGarden.getDescription()}</p>
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm hidden-xs" style="position: relative; bottom: 1.9em;">
              <ul class="list-group" style="text-align: center;">
              <li class="list-group-item">Owner: @rainGarden.getOwner().getName()</li>
              <li class="list-group-item">Type: Rain Garden</li>
              <li class="list-group-item">Property Type: @rainGarden.getPropertyType()</li>
              <li class="list-group-item">Address: @if(rainGarden.getHideAddress().equals("Yes")) {Hidden} else {@rainGarden.getAddress()}</li>
              <li class="list-group-item">Date Added: @rainGarden.getDateInstalled()</li>
              <li class="list-group-item">Number of Garden(s): @rainGarden.getNumberOfRainGardens()</li>
              </ul>
            </div>
          </div>
          <div class="row" style="color: black; font-size: 14px;  padding: 0 2em 0 2em;">
              <div class="page-header">
              <h4>Additional Information</h4>
            </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <b>Rain Garden Size:</b> @rainGarden.getRainGardenSize()<br />
                <b>Size of Roof/Impervious Surface:</b> @rainGarden.getWaterFlowSourceSize()<br />
                <b>Water Flow Description:</b> @rainGarden.getWaterFlowDescription()<br />
                <b>Infiltration Rate:</b> @rainGarden.getInfiltrationRate()<br /><br/>                
              </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:white;">
                          <ul class="list-group">
                                                    <li class="list-group-item">  
                          <h4>Plants</h4>
                          @if(!(rainGarden.getPlants().isEmpty)) {    
                            @for(plant <- rainGarden.getPlants()) {
                             <button type="button" class="btn btn-default example" data-container="body" data-toggle="popover"
                              data-placement="top" title="@plant"
                              data-content="                
                              <p>Scientific Name: @PlantDB.getPlant(plant).getScientificName()</p>
                              <p>Placement: @PlantDB.getPlant(plant).getPlacement()</p>
                              <p>Growth: @PlantDB.getPlant(plant).getGrowth()</p>
                              <p>Climate Type: @PlantDB.getPlant(plant).getClimateType()</p>
                              <br />">@PlantDB.getPlant(plant).getName()
                              </button>
                            }
                          } else {
                            <p>No plants</p>
                          }                  
              </li>
              </ul>
            </div>
          </div>
        <div class="row" style="color: black; font-size: 14px; padding: 0 2em 0 2em;">
          <div class="page-header">
            <h4>Comments (@comments.size())</h4>          
          </div>
           @if(comments.isEmpty()) { 
              <div class="alert alert-info">This rain garden has no comments.</div>           
            } else { 
              @for(comment <- comments) {
              <div class="well" style="background-color:white;">
               <div class="media">
                  <div class="media-body">
                     <h4 class="media-heading" style="background-color:#3E60AD; color:white; padding:5px;">@comment.getPoster().getName() <small class="commentDate">(@comment.getDatePosted())</small></h4>
                     @comment.getComment()
                  </div>
               </div>
              }
            }
            </div>
        </div>
      </div>
      </div>
   </div>
   </div>
<div class=" modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete This Page?</h4>
      </div>
      <div class="modal-body">This action cannot be undone. Are you sure?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="@routes.Application.deleteGarden(rainGarden.getID())"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </div>
</div>
}
